{% extends 'base.html' %}
{% block title %}All Stocks{% endblock %}


{% block body %}
  <h1>All Stocks</h1>
  
    <div>
        <h2>Stocks</h2>
        <form id = "stock_select">
            <select name="stocks" id="stock_symbol">
                <option default>Pick your stock</option>

                {% for stock in stock_list %}
                    <option value="{{stock.symbol}}">{{stock.symbol}} - {{ stock.stock_name }}</option>
                {% endfor %}
            </select>
            <input type="submit">

        </form>
    </div>
    <section id="display-company-info"></section>
    <!-- <div class="company_info"> -->
        <dl>
            <dt>Name:</dt>
            <dd id="Name"></dd>  
            <dt>Symbol:</dt>
            <dd id="Symbol"></dd>  
            <dt>Description:</dt>
            <dd id="Description"></dd>
            <dt>Address:</dt>
            <dd id="Address"></dd>
            <dt>Address:</dt>
            <dd id="FullTimeEmployees"></dd>   
            <dt>FullTimeEmployees:</dt>
            <dd id="AssetType"></dd>   
            <dt>AssetType:</dt>
            <dd id="DividendPerShare"></dd>   
            <dt>DividendPerShare:</dt>
            <dd id="DividendYield"></dd>   
            <dt>DividendYield:</dt>
            <dd id="DividendPerShare"></dd>   
            <dt>DividendPerShare:</dt>
            <dd id="PEGRatio"></dd>   
            <dt>PEGRatio:</dt>
            <dd id="PERatio"></dd>   
            <dt>PERatio:</dt>
            <dd id="52WeekHigh"></dd>   
            <dt>52WeekHigh:</dt>
            <dd id="52WeekLow"></dd>   
            <dt>52WeekLow:</dt>
            <dd id="EPS"></dd>   
            <dt>EPS:</dt>
        </dl>


       



    <!-- </div> -->

    </section>
    <script src="/static/stocks.js"></script>

{% endblock %}







