{% extends 'base.html' %}
{% block title %}Stock Y{% endblock %}


{% block body %}
<h1> Login Page</h1>
<head>

    <link rel="stylesheet" href="/static/css/homepage_styling.css">
    
       <h2>Already a User ?</h2>


       <form id="login" action="/login" method="post">

        <label>Email : </label> 
        <input type="text" placeholder="Enter Email" name="email" required>
        <label>Password : </label> 
        <input type="text" placeholder="Enter Password" name="password" required>
        <button type="submit">Login</button> 
        <input type="checkbox" checked="checked"> Remember me 
      </form>
  

        <h2>Create Account</h2>
      </form>
       <form action="/users" method="POST">
       <p>First Name : </p> 
       <input type="text" placeholder="First Name" name="fname" required>
       <p>Last Name : </p> 
       <input type="text" placeholder="Last Name" name="lname" required>
       <p>Email : </p> 
       <input type="text" placeholder="Email" name="email" required>
       <p>Password : </p> 
       <input type="text" placeholder="Password" name="password" required>
       
       
       <button type="submit">Submit</button>
       </form>
   
       <script src="/static/stocks.js"></script>
     {% endblock %}

    