{% extends 'base.html' %}
{% block title %}Stock Y{% endblock %}


{% block body %}
<h1> Login Page</h1>
<head>

    <link rel="stylesheet" href="/static/style.css">
    
       <h2>Login</h2>


       <form id="login" action="/login" method="post">

        <label>Email : </label> 
        <input type="text" placeholder="Enter Email" name="email" required>
        <label>Password : </label> 
        <input type="password" placeholder="Enter Password" name="password" required>
        <button type="submit">Login</button> 
        <input type="checkbox" checked="checked"> Remember me 
      </form>
  

    
      <button onclick="document.getElementById('id01').style.display='block'" style="width:auto;">New User?</button>

      <div id="id01" class="modal"></div>

      <form class="modal-content animate" action="/users" method="post" class= "container">
        <div class="imgcontainer">
          <span onclick="document.getElementById('id01').style.display='none'" class="close" title="Close Modal">&times;</span>
          <img src="static/img/Capture.png" alt="Avatar"  class="avatar">
        </div>
      
        <div class="container">
          <label for="fname"><b>First Name</b></label>
          <input type="text" placeholder="First Name" name="fname" required>

          <label for="lname"><b>Last Name</b></label>
          <input type="text" placeholder="Last Name" name="lname" required>

          <label for="email"><b>Email</b></label>
          <input type="text" placeholder="Email" name="email" required>
          
          <label for="password"><b>Password</b></label>
          <input type="password" placeholder="Enter Password" name="password" required>

            
          <button type="submit">Register</button>
          <label>
            <input type="checkbox" checked="checked" name="remember"> Remember me
          </label>
        </div>
    
        <div class="container" style="background-color:#f1f1f1">
          <button type="login-button" onclick="document.getElementById('id01').style.display='none'" class="cancelbtn">Cancel</button>
          
        </div>
      </form>
    </div>
   
       <script src="/static/stocks.js"></script>
     {% endblock %}

    





<!-- 

     <form action="/users" method="POST">
      <p>First Name : </p> 
      <input type="text" placeholder="First Name" name="fname" required>
      <p>Last Name : </p> 
      <input type="text" placeholder="Last Name" name="lname" required>
      <p>Email : </p> 
      <input type="text" placeholder="Email" name="email" required>
      <p>Password : </p> 
      <input type="password" placeholder="Password" name="password" required>
      
      
      <button type="submit">Submit</button>
     </form>
   </div> -->