{% extends 'base.html' %}
{% block title %}{% endblock %}


{% block body %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Our Mission</title>
</head>
<body>

    <h3>Our Mission</h3>
 
    <p> 
        The Dow Jane is inspired to educate and empower women to be informed about stock investments, and to be able to make better informed investing decisions. 
        Growing up as a woman I have always been told to save my money incase I needed it one day and never to invest it into the stock market because it is such a risky move for a woman to invest her money in stocks. I found I could take my financials farther than a savings account, as I quit my job and decided to shift my career as a software engineering student, I did not have a way that could generate an income. But having some knowledge about the stock market I felt I was not burning through my savings account. As my capstone project for school, I created a project inspired for women, from all walks in their career, making financial decisions are hard and knowing how to is even harder. I hope this platform helps answer any questions as a newly or current investor in the stock market. I also hope if provides inspiration for all women to raise up in the current society we live and strive to become leaders of business, their lives and to always stay curious. 
        
        
    
    </p>

    <br>

    <h5>Women <strong>ONLY</strong> hold 6% of CEO positions at S&P 500 companies, learn more about these women below: </h5>
    <h1>The Leaders</h1>

    <div class="grid-container">
      
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="\static\mary-barra.JPG" alt="CEO Mary T. Barra">
            <div class="card-body">
              <h5 class="card-title">Mary T. Barra</h5>
              <p class="card-text">General Motors Company</p>
              <a href="https://www.gm.com/our-company/leadership/corporate-officers.html" class="btn btn-primary">Learn More</a>
            </div>
          </div>

    

        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="\static\corrie-barry.JPG" alt="CEO Mary T. Barra">
            <div class="card-body">
            <h5 class="card-title">Corie Barry</h5>
            <p class="card-text">Best Buy Co., Inc.</p>
            <a href="https://corporate.bestbuy.com/about-best-buy/" class="btn btn-primary">Learn More</a>
            </div>
        </div>

    
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="\static\Gail K. Boudreaux.JPG" alt="CEO Mary T. Barra">
            <div class="card-body">
            <h5 class="card-title">Gail K. Boudreaux</h5>
            <p class="card-text">Anthem, Inc.</p>
            <a href="https://www.antheminc.com/AboutAnthemInc/Leadership/ExecutiveLeadership/PW_G324762.html" class="btn btn-primary">Learn More</a>
            </div>
        </div>
        
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="\static\Michel-Buck.JPG" alt="CEO Mary T. Barra">
            <div class="card-body">
            <h5 class="card-title">Michele Buck</h5>
            <p class="card-text">The Hershey Company</p>
            <a href="https://www.thehersheycompany.com/en_us/our-story/remarkable-people/leadership.html" class="btn btn-primary">Learn More</a>
            </div>
        </div>
            
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="\static\Debra-Cafaro.JPG" alt="CEO Mary T. Barra">
                <div class="card-body">
                <h5 class="card-title">Debra A. Cafaro</h5>
                <p class="card-text">Ventas, Inc.</p>
                <a href="https://www.ventasreit.com/about-ventas/leadership" class="btn btn-primary">Learn More</a>
                </div>
            </div>
        
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="\static\Safra-catz.JPG" alt="CEO Mary T. Barra">
                <div class="card-body">
                <h5 class="card-title">Safra A. Catz</h5>
                <p class="card-text">Oracle Corporation</p>
                <a href="https://www.oracle.com/corporate/executives/catz/" class="btn btn-primary">Learn More</a>
                </div>
            </div>


            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="\static\Joanne-crevoiserat.JPG" alt="CEO Mary T. Barra">
                <div class="card-body">
                <h5 class="card-title">Joanne Crevoiserat</h5>
                <p class="card-text">Tapestry</p>
                <a href="https://www.tapestry.com/leadership/" class="btn btn-primary">Learn More</a>
                </div>
            </div>

            <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="\static\Mary-dillion.JPG" alt="CEO Mary T. Barra">
            <div class="card-body">
                <h5 class="card-title">Mary Dillon</h5>
                <p class="card-text">Ulta Beauty, Inc.</p>
                <a href="http://ir.ultabeauty.com/governance/management/default.aspx" class="btn btn-primary">Learn More</a>
            </div>
            </div>
        
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="\static\Jane-fraser.JPG" alt="CEO Mary T. Barra">
                <div class="card-body">
                    <h5 class="card-title">Jane Fraser</h5>
                    <p class="card-text">Citigroup, Inc.</p>
                    <a href="https://www.citigroup.com/citi/about/leaders/jane-fraser-bio.html" class="btn btn-primary">Learn More</a>
                </div>
            </div>
        
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="\static\Adena-frideman.JPG" alt="CEO Adena T. Friedman">
                <div class="card-body">
                    <h5 class="card-title">Adena T. Friedman</h5>
                    <p class="card-text">Nasdaq, Inc.</p>
                    <a href="https://business.nasdaq.com/discover/nasdaq-leadership/adena-friedman/index.html" class="btn btn-primary">Learn More</a>
                </div>
            </div>
        
            
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="\static\lynn-good.JPG" alt="CEO Lynn J. Good">
                <div class="card-body">
                    <h5 class="card-title">Lynn J. Good</h5>
                    <p class="card-text">Duke Energy Corporation</p>
                    <a href="https://www.duke-energy.com/our-company/about-us/leadership/lynn-j-good" class="btn btn-primary">Learn More</a>
                </div>
            </div>
        
            
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="\static\tricia griffith.JPG" alt="CEO Tricia Griffith">
                <div class="card-body">
                    <h5 class="card-title">Tricia Griffith</h5>
                    <p class="card-text">The Progressive Corporation</p>
                    <a href="https://www.progressive.com/about/leadership/" class="btn btn-primary">Learn More</a>
                </div>
            </div>  

            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="\static\vicki-hollub.JPG" alt="CEO Vicki Hollub">
                <div class="card-body">
                    <h5 class="card-title">Vicki Hollub</h5>
                    <p class="card-text">Occidental Petroleum Corporation</p>
                    <a href="https://www.oxy.com/investors/Governance/Board-of-Directors/Pages/Vicki-A-Hollub.aspx" class="btn btn-primary">Learn More</a>
                </div>
            </div>
        
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="\static\jennifer-johnson.JPG" alt="CEO Jennifer M. Johnson">
                <div class="card-body">
                    <h5 class="card-title">Jennifer M. Johnson</h5>
                    <p class="card-text">Franklin Resources, Inc.</p>
                    <a href="https://www.franklinresources.com/ftresources/about-us/directors-officers" class="btn btn-primary">Learn More</a>
                </div>
            </div>
        

            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="\static\margaret-keane.JPG" alt="CEO Margaret M. Keane">
                <div class="card-body">
                    <h5 class="card-title">Margaret M. Keane</h5>
                    <p class="card-text"> Synchrony Financial</p>
                    <a href="https://investors.synchronyfinancial.com/corporate-governance" class="btn btn-primary">Learn More</a>
                </div>
            </div>


            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="\static\Reshma-Kewalramani.JPG" alt="CEO Reshma Kewalramani">
                <div class="card-body">
                    <h5 class="card-title">Reshma Kewalramani</h5>
                    <p class="card-text"> Vertex Pharmaceuticals, Inc.</p>
                    <a href="https://investors.synchronyfinancial.com/corporate-governance" class="btn btn-primary">Learn More</a>
                </div>
            </div>

            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="\static\Christine A. Leahy.JPG" alt="CEO Christine A. Leahy">
                <div class="card-body">
                    <h5 class="card-title">Christine A. Leahy</h5>
                    <p class="card-text">CDW Corporation</p>
                    <a href="https://www.cdw.com/content/cdw/en/about/overview/our-leadership.html" class="btn btn-primary">Learn More</a>
                </div>
            </div>
        
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="\static\Karen S. Lynch.JPG" alt="CEO Karen S. Lynch">
                <div class="card-body">
                    <h5 class="card-title">Karen S. Lynch</h5>
                    <p class="card-text">CVS Health Corporation</p>
                    <a href="https://cvshealth.com/about/leadership" class="btn btn-primary">Learn More</a>
                </div>
            </div>
        
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="\static\Judy Marks.JPG" alt="CEO Judy Marks">
                <div class="card-body">
                    <h5 class="card-title">Judy Marks</h5>
                    <p class="card-text">Otis Worldwide Corporation</p>
                    <a href="https://www.otis.com/en/us/our-company/our-leadership/judy-marks" class="btn btn-primary">Learn More</a>
                </div>
            </div>
        
            
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="\static\Lisa Palmer.JPG" alt="CEO Lisa Palmer">
                <div class="card-body">
                    <h5 class="card-title">Lisa Palmer</h5>
                    <p class="card-text">Regency Centers Corporation</p>
                    <a href="https://www.regencycenters.com/regency/leadership" class="btn btn-primary">Learn More</a>
                </div>
            </div>
        
            
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="\static\Kristin Peck.JPG" alt="CEO Kristin Peck">
                <div class="card-body">
                    <h5 class="card-title">Kristin Peck</h5>
                    <p class="card-text">Zoetis Inc.</p>
                    <a href="https://www.zoetis.com/about-us/executive-team/index.aspx" class="btn btn-primary">Learn More</a>
                </div>
            </div>


            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="\static\Linda Rendle.JPG" alt="CEO Linda Rendle">
                <div class="card-body">
                    <h5 class="card-title">Linda Rendle</h5>
                    <p class="card-text">The Clorox Company</p>
                    <a href="https://www.thecloroxcompany.com/who-we-are/corporate-governance/executive-team" class="btn btn-primary">Learn More</a>
                </div>
            </div>

            
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="\static\Barbara Rentler.JPG" alt="CEO Barbara Rentler">
                <div class="card-body">
                    <h5 class="card-title">Barbara Rentler</h5>
                    <p class="card-text">Ross Stores, Inc.</p>
                    <a href="https://investors.rossstores.com/corporate-governance/board-of-directors" class="btn btn-primary">Learn More</a>
                </div>
            </div>

            
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="\static\Lori Ryerkerk.JPG" alt="CEO Lori Ryerkerk">
                <div class="card-body">
                    <h5 class="card-title">Lori Ryerkerk</h5>
                    <p class="card-text">Celanese Corporation</p>
                    <a href="https://www.celanese.com/About-Us/Leadership.aspx" class="btn btn-primary">Learn More</a>
                </div>
            </div>

            
            
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="\static\Lisa Su.JPG" alt="CEO Lisa Su">
                <div class="card-body">
                    <h5 class="card-title">Lisa Su</h5>
                    <p class="card-text">Advanced Micro Devices, Inc.</p>
                    <a href="https://www.amd.com/en/corporate/leadership" class="btn btn-primary">Learn More</a>
                </div>
            </div>


            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="\static\Julie Sweet.JPG" alt="CEO Julie Sweet">
                <div class="card-body">
                    <h5 class="card-title">Julie Sweet</h5>
                    <p class="card-text">Accenture</p>
                    <a href="https://www.accenture.com/us-en/company-leadership" class="btn btn-primary">Learn More</a>
                </div>
            </div>

            
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="\static\Sonia Sygnal.JPG" alt="CEO Sonia Sygnal">
                <div class="card-body">
                    <h5 class="card-title">Sonia Sygnal</h5>
                    <p class="card-text">Gap, Inc.</p>
                    <a href="https://www.gapinc.com/en-us/about/leadership/executive-leadership-team" class="btn btn-primary">Learn More</a>
                </div>
            </div>

            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="\static\Carol Tomé.JPG" alt="CEO Carol Tomé">
                <div class="card-body">
                    <h5 class="card-title">Carol Tomé</h5>
                    <p class="card-text">United Parcel Service, Inc.</p>
                    <a href="https://www.pressroom.ups.com/pressroom/about/leadership.page" class="btn btn-primary">Learn More</a>
                </div>
            </div>
            
            
            
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="\static\Jayshree V. Ullal.JPG" alt="CEO Jayshree V. Ullal">
                <div class="card-body">
                    <h5 class="card-title">Jayshree V. Ullal</h5>
                    <p class="card-text">Arista Networks, Inc.</p>
                    <a href="https://www.arista.com/en/company/management-team" class="btn btn-primary">Learn More</a>
                </div>
            </div>
            
               
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="\static\Kathy J. Warden.JPG" alt="CEO Kathy J. Warden">
                <div class="card-body">
                    <h5 class="card-title">Kathy J. Warden</h5>
                    <p class="card-text">Northrop Grumman Corporation</p>
                    <a href="http://www.northropgrumman.com/AboutUs/CompanyLeadership/Pages/default.aspx" class="btn btn-primary">Learn More</a>
                </div>
            </div>
            

</div>
        
<div id = facts>
    <h3>Facts about women business leaders</h3>
    <ol>
    <li>
       <h4><strong>Women start 1,821 businesses a day</strong></h4>
        <p> — Research from American Express shows the rapid pace at which women establish businesses in the United States. Last year, female entrepreneurs employed 9.2 million people.&nbsp;</p>
    </li>
    <li>
        <h4><strong>Women entrepreneurs are happier</strong></h4>
        <p> — Women entrepreneurs are reportedly the happiest group of entrepreneurs in America, outranking their male counterparts, according to a study by Babson. This same study found these women are nearly three times more likely to report as happier than women who had not established their own businesses.</p>
    </li>
    <li>
        <h4><strong>They find success in U.S. cities </strong></h4>
        <p>— The United States houses three out of the five top-ranked cities where female entrepreneurs can flourish. New York City, San Francisco Bay Area, and Boston are cities that attract and nurture women-owned businesses. We’re excited to see this trend continuing with more support for women business leaders across the country. </p>
    </li>
    <li>
        <h4><strong>About 17% of startups have a female founder</strong></h4>
        <p> — The number of venture-funded companies with women at the helm has increased in the last 10 years. Currently, the data shows that these women-led companies are hovering around approximately 17% of the market.&nbsp;</p>
    </li>
    <li>
        <h4><strong>Companies prosper with women leaders</strong></h4>
        <p> — When companies have women in leadership positions, they often have higher stock returns and greater profits. It’s surprising then that only 5% of CEOs are women. Women are more successful in these roles because they view their careers holistically, approaching work in a self-reflective manner.</p>
    </li>
    <li>
        <h4><strong>Women-run companies perform better on the S&P 500 </strong></h4>
        <p>— In fact, these companies perform three times better, garnering more returns than their male compatriots. It’s speculated that women do so well because of how hard they had to work early on in their careers to become CEO. </p>
    </li>

    <li>
        <h4><strong>Women are rated as better leaders</strong></h4>
        <p> — A Harvard University study found that women out performed men on leadership indictors, everything from taking initiative to driving for results. Interestingly, women scored higher in categories that were not traditionally thought of as female traits.</p>
    </li>

    <li>
        <h4><strong>Women-owned firms rake in millions in revenue</strong></h4>
        <p>— In the last decade, the number of women-owned companies that have amassed $10 million or more in revenues has increased by nearly 60 percent. </p>

    </li>
    <li>
        <h4><strong>They feel better about work-life balance</strong></h4>
        <p>— It can be challenging for anyone to achieve a work-life balance, but women business leaders report that they have a healthy balance between their professional and home lives. They describe their typical week as being worthwhile and satisfying. </p>
    </li>
    <li>
        <h4><strong>Women entrepreneurs have less access to capital</strong></h4>
        <p>— Women entrepreneurs still raise less money than men to jump start their businesses. Men are twice as likely as women to raise at least $100,000 or more, according to a global survey of more than 3,000 business leaders. </p>

    </li>

</div>


</body>


{% endblock %}
</html>